.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 105;
}

.loadingCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0.8;
  animation: loadingAnimation 1.5s infinite ease-in-out;
}

/* Keyframe animations */
@keyframes loadingAnimation {
  0% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  50% {
    transform: scale(2);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.3);
    opacity: 0.5;
  }
}
