.block {
  position: relative;
  overflow-y: auto;
  z-index: 1;
  height: 100%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    background: url("/assets/images/main_bg.png") center;
    opacity: 0.4;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}
