// w-full rounded-2xl border border-black bg-gray-100 h-[18vh] flex flex-1 overflow-hidden

.block {
  border-radius: 16px;
  width: 100%;
  border: 1px solid black;
  background: transparent;
  display: flex;
  flex: 1;
  z-index: 1;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 760px) {
    height: 15vh;
  }
}

.leftImg {
  width: 80px;
  height: 100%;
  object-fit: contain;
  margin-left: 30px;

  @media (max-width: 760px) {
    width: 30px;
    margin-left: 10px;
  }
}

.rightImg {
  width: 400px;
  height: 100px;
  background-position: top;
  object-fit: cover;

  @media (max-width: 760px) {
    width: 120px;
    height: 80px;
  }
}
.capital {
  font-weight: 800;
  font-size: 20px;

  @media (max-width: 760px) {
    font-size: 10px;
  }
}
.middle {
  font-family: "Bruno Ace SC" !important;
  margin: 10px;
}
