.block {
  width: 100%;
  background: transparent;
  display: flex;
  flex: 1;
  z-index: 1;
  padding: 15px;
  overflow: hidden;
  justify-content: space-between;
  background: url("/assets/images/headerbg.jpg");
  background-size: contain;
  align-items: center;
  @media (max-width: 760px) {
    height: 15vh;
  }
}

.leftImg {
  width: 80px;
  height: 100%;
  object-fit: contain;
  margin-left: 10px;
  border-radius: 50%;

  @media (max-width: 760px) {
    width: 30px;
    margin-left: 10px;
  }
}

.rightImg {
  width: 400px;
  height: 100px;
  background-position: top;
  object-fit: cover;

  @media (max-width: 760px) {
    width: 120px;
    height: 80px;
  }
}
.capital {
  font-weight: 800;
  font-size: 20px;

  @media (max-width: 760px) {
    font-size: 10px;
  }
}
.middle {
  font-family: "Bruno Ace SC" !important;
  margin: 10px;

  & h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
